---
import { sanityFetch } from '@/sanity';
import { HOME_QUERY } from '@/sanity/queries';
import type { HOME_QUERY_RESULT } from '@/sanity/types';
import Layout from '../layouts/layout.astro';

const { data: homeData } = await sanityFetch<HOME_QUERY_RESULT>(Astro, {
  query: HOME_QUERY,
});
---

<Layout>
	<h1>Sanity Data:</h1>
	<pre>{JSON.stringify(homeData, null, 2)}</pre>
</Layout>
