---
import { ClientRouter } from "astro:transitions";
import SanityLive from "@tinloof/sanity-astro/SanityLive.astro";
import { VisualEditing } from "@tinloof/sanity-astro/visual-editing";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
    <SanityLive />
    <VisualEditing />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
</style>
